/*  ==========================================================================
    Vendor Imports
    ========================================================================== */
/*@import "normalize.css";*/
/*@import url(vendor/html5bp-defaults.css);*/
/*@import url(vendor/html5bp-helpers.css);*/

/* ==========================================================================
   Our Imports
   ========================================================================== */

@import url(colors.css);

/* --------------------------------------------------------------------------
   Component Styles
   -------------------------------------------------------------------------- */
body {
  color: var(--off-black);
  font-family: Lato;
  margin: 0;
}

#App {
 
}

table {
    width: 100%;
    border-collapse: collapse;
}
.line-description {
    width: 50%;
}
td {
    border: 1px solid black;
    line-height: 2em;
    height: 2em;
}

.close-bal {
    font-weight: bold;
}
.header-row {
    background-color: #ddd
}
.close-bal {background-color: #eee}
.table-step-1 .step-1, 
.table-step-2 .step-2,
.table-step-3 .step-3,
.table-step-4 .step-4,
.table-step-5 .step-5,
.table-step-6 .step-6,
.table-step-7 .step-7 {
    background-color: var(--light-blue)
}
